/* 
    General Styles
*/
.btn-square {
    background-color: white;  
    border-radius: 0;
    outline-width: 0;
    border-top: none;
    border-right: none;
    font-weight: bolder;
  }
  
  .btn-square:hover {
    background-color: red;
  }
  
  .btn-square:focus {
    outline-color: black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black; 
  }

  .bg-D59E3B {
    background-color: #D59E3B;
    padding-top: 0;
    padding-bottom: 0;
    color: #F7EF11;
  }

  .primercuadro{
      background-size:auto;
      background-position: center;
      background-repeat: no-repeat;
      display: flex;
      flex-direction: column;
      justify-content:left;
      padding: 8rem;
      height:473px;
  }
  
  .footer {
    background-color: #D22B1C;
    position: relative;
    height: 100px; /* Ajusta la altura según tus necesidades */
}

.wave-effect {
  position: relative;
  height: 100px; /* Ajusta la altura de la onda */
}

.wave-effect::before {
  content: "";
  position: absolute;
  top: -50px; /* Controla la posición vertical de la onda */
  left: 50%; /* Coloca el óvalo en el centro horizontal */
  transform: translateX(-50%);
  width: 100%; /* Doble del ancho para asegurarse de cubrir el contenedor */
  height: 100px; /* Ajusta la altura de la onda */
  background: #D22B1C ;
  border-radius: 50%;
  z-index: 1;
}

