/* 
    General Styles
*/
.btn-square {
    background-color: white;  
    border-radius: 0;
    outline-width: 0;
    border-top: none;
    border-right: none;
    font-weight: bolder;
  }
  
  .btn-square:hover {
    background-color: red;
  }
  
  .btn-square:focus {
    outline-color: black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black; 
  }

  .bg-D59E3B {
    background-color: #D59E3B;
    padding-top: 0;
    padding-bottom: 0;
    color: #F7EF11;
  }

  .primercuadro{
      background-size:auto;
      background-position: center;
      background-repeat: no-repeat;
      display: flex;
      flex-direction: column;
      justify-content:left;
      padding: 8rem;
      height:473px;
  }

  .container-fluid{
    z-index: -1;
  }

.promos{
  padding-top: 90px;
}

.titulo {
  color: yellow;
  text-shadow: 2px 2px orange;
  font-weight: bold;
  opacity: 100%;
}

.parrafo {
  text-indent: 20px;
  text-align: justify;
  opacity: 100%;
  color: black;
}

.fondo-transparente {
  background-color: rgba(255, 0, 0, 0.5); /* Cambia los valores RGB y el valor de opacidad (0.5 en este ejemplo) según tus necesidades */
  border-start-start-radius: 20%;
  border-end-end-radius:20%;
}

