/* styles/nosotros.css */
.primercuadro {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 15px;
    color: #fff;
  }
  
  .bg-D59E3B {
    background-color: #D59E3B !important;
  }